{{ motd_figlet_header.stdout }}
-----------------------------------

Roles:
{% for item in hostvars[inventory_hostname]['motd_roles'] %}
  - {{ item }}
{% endfor %}

Files:
{% for item in hostvars[inventory_hostname]['motd_files'] %}
  - {{ item }}
{% endfor %}

Commands:
{% for item in hostvars[inventory_hostname]['motd_commands'] %}
  - {{ item }}
{% endfor %}

Notes:
{% for item in hostvars[inventory_hostname]['motd_notes'] %}
  - {{ item }}
{% endfor %}
