{{ motd_figlet_header.stdout }}
-----------------------------------

Roles:
{% for item in ansible_facts['motd_roles'] %}
  - {{ item }}
{% endfor %}

Files:
{% for item in ansible_facts['motd_files'] %}
  - {{ item }}
{% endfor %}

Commands:
{% for item in ansible_facts['motd_commands'] %}
  - {{ item }}
{% endfor %}

Notes:
{% for item in ansible_facts['motd_notes'] %}
  - {{ item }}
{% endfor %}
